In [2]:
import pandas as pd
s=pd.Series(['banana',42])
print(s)

0    banana
1        42
dtype: object

In [4]:
s=pd.Series(['john', 'creator'])
print(s)

0       john
1    creator
dtype: object

In [5]:
s=pd.Series(['john', 'creator'], index=['Person', 'who'])
print(s)

Person       john
who       creator
dtype: object

In [6]:
scientists=pd.DataFrame({
    'Name':['Franklin', 'William'],
    'Occ':['Chemist', 'Statistician'],
    'Born':['1990-01-02', '2000-07-01'],
    'Age':[30, 20]})

In [7]:
scientists

       Name           Occ        Born  Age
0  Franklin       Chemist  1990-01-02   30
1   William  Statistician  2000-07-01   20

In [12]:
scientists=pd.DataFrame({    
    'Occ':['Chemist', 'Statistician'],
    'Born':['1990-01-02', '2000-07-01'],
    'Age':[30, 20]}, index=['Franklin', 'William'])

In [13]:
scientists

                   Occ        Born  Age
Franklin       Chemist  1990-01-02   30
William   Statistician  2000-07-01   20

In [17]:
from collections import OrderedDict
scientists=pd.DataFrame(OrderedDict([
    ('Name',['Franklin', 'William']),
    ('Occ',['Chemist', 'Statistician']),
    ('Born',['1990-01-02', '2000-07-01']),
    ('Age',[30, 20]) 
])
)

In [18]:
scientists

       Name           Occ        Born  Age
0  Franklin       Chemist  1990-01-02   30
1   William  Statistician  2000-07-01   20

In [19]:
scientists=pd.DataFrame({    
    'Occ':['Chemist', 'Statistician'],
    'Born':['1990-01-02', '2000-07-01'],
    'Age':[30, 20]}, 
index=['Franklin', 'William'],
columns=['Occ', 'Born','Age']
)

In [20]:
scientists

                   Occ        Born  Age
Franklin       Chemist  1990-01-02   30
William   Statistician  2000-07-01   20

In [21]:
first_row=scientists.loc['William']

In [22]:
first_row

Occ     Statistician
Born      2000-07-01
Age               20
Name: William, dtype: object

In [23]:
type(first_row)

pandas.core.series.Series

In [24]:
first_row.index

Index(['Occ', 'Born', 'Age'], dtype='object')

In [25]:
first_row.values

array(['Statistician', '2000-07-01', 20], dtype=object)

In [26]:
first_row.keys()

Index(['Occ', 'Born', 'Age'], dtype='object')

In [28]:
first_row.keys()[1]

'Born'

In [29]:
first_row.index[0]

'Occ'

In [30]:
ages=scientists['Age']

In [31]:
ages

Franklin    30
William     20
Name: Age, dtype: int64

In [32]:
ages.mean()

25.0

In [33]:
ages.min()

20

In [34]:
ages.max()

30

In [35]:
ages.std()

7.0710678118654755

In [36]:
scientists=pd.read_csv("../data/scientists.csv")

In [37]:
ages=scientists['Age']

In [38]:
ages.max()

90

In [39]:
ages.mean()

59.125

In [41]:
ages[ages>ages.mean()]

1    61
2    90
3    66
7    77
Name: Age, dtype: int64

In [42]:
manual_bool_values=[True,True,False,False,True,True,False,True]

In [44]:
ages[manual_bool_values]

0    37
1    61
4    56
5    45
7    77
Name: Age, dtype: int64

import numpy as np

In [45]:
x1=np.array([[5.1], [3.5], [1.4], [0.2]])

NameError: name 'np' is not defined

# import numpy as np
x1=np.array([[5.1], [3.5], [1.4], [0.2]])

In [47]:
print(x1)

[[5.1]
 [3.5]
 [1.4]
 [0.2]]