## Pivot table

In [5]:
import pandas as pd
pew=pd.read_csv("../data/pew.csv") 
#종교와 연봉 사이의 관계를 나타낸 데이터 from pew 리서치센터
print(pew.head())

             religion  <$10k  $10-20k  $20-30k  $30-40k  $40-50k  $50-75k  \
0            Agnostic     27       34       60       81       76      137
1             Atheist     12       27       37       52       35       70
2            Buddhist     27       21       30       34       33       58
3            Catholic    418      617      732      670      638     1116
4  Don’t know/refused     15       14       15       11       10       35

   $75-100k  $100-150k  >150k  Don't know/refused
0       122        109     84                  96
1        73         59     74                  76
2        62         39     53                  54
3       949        792    633                1489
4        21         17     18                 116

In [7]:
print(pew.iloc[:,0:6])

                   religion  <$10k  $10-20k  $20-30k  $30-40k  $40-50k
0                  Agnostic     27       34       60       81       76
1                   Atheist     12       27       37       52       35
2                  Buddhist     27       21       30       34       33
3                  Catholic    418      617      732      670      638
4        Don’t know/refused     15       14       15       11       10
5          Evangelical Prot    575      869     1064      982      881
6                     Hindu      1        9        7        9       11
7   Historically Black Prot    228      244      236      238      197
8         Jehovah's Witness     20       27       24       24       21
9                    Jewish     19       19       25       25       30
10            Mainline Prot    289      495      619      655      651
11                   Mormon     29       40       48       51       56
12                   Muslim      6        7        9       10        9
13                 Orthodox     13       17       23       32       32
14          Other Christian      9        7       11       13       13
15             Other Faiths     20       33       40       46       49
16    Other World Religions      5        2        3        4        2
17             Unaffiliated    217      299      374      365      341

In [9]:
pew_long=pd.melt(pew, id_vars='religion')
print(pew_long.head)

<bound method NDFrame.head of                     religion            variable  value
0                   Agnostic               <$10k     27
1                    Atheist               <$10k     12
2                   Buddhist               <$10k     27
3                   Catholic               <$10k    418
4         Don’t know/refused               <$10k     15
5           Evangelical Prot               <$10k    575
6                      Hindu               <$10k      1
7    Historically Black Prot               <$10k    228
8          Jehovah's Witness               <$10k     20
9                     Jewish               <$10k     19
10             Mainline Prot               <$10k    289
11                    Mormon               <$10k     29
12                    Muslim               <$10k      6
13                  Orthodox               <$10k     13
14           Other Christian               <$10k      9
15              Other Faiths               <$10k     20
16     Other World Religions               <$10k      5
17              Unaffiliated               <$10k    217
18                  Agnostic             $10-20k     34
19                   Atheist             $10-20k     27
20                  Buddhist             $10-20k     21
21                  Catholic             $10-20k    617
22        Don’t know/refused             $10-20k     14
23          Evangelical Prot             $10-20k    869
24                     Hindu             $10-20k      9
25   Historically Black Prot             $10-20k    244
26         Jehovah's Witness             $10-20k     27
27                    Jewish             $10-20k     19
28             Mainline Prot             $10-20k    495
29                    Mormon             $10-20k     40
..                       ...                 ...    ...
150                    Hindu               >150k     54
151  Historically Black Prot               >150k     78
152        Jehovah's Witness               >150k      6
153                   Jewish               >150k    151
154            Mainline Prot               >150k    634
155                   Mormon               >150k     42
156                   Muslim               >150k      6
157                 Orthodox               >150k     46
158          Other Christian               >150k     12
159             Other Faiths               >150k     41
160    Other World Religions               >150k      4
161             Unaffiliated               >150k    258
162                 Agnostic  Don't know/refused     96
163                  Atheist  Don't know/refused     76
164                 Buddhist  Don't know/refused     54
165                 Catholic  Don't know/refused   1489
166       Don’t know/refused  Don't know/refused    116
167         Evangelical Prot  Don't know/refused   1529
168                    Hindu  Don't know/refused     37
169  Historically Black Prot  Don't know/refused    339
170        Jehovah's Witness  Don't know/refused     37
171                   Jewish  Don't know/refused    162
172            Mainline Prot  Don't know/refused   1328
173                   Mormon  Don't know/refused     69
174                   Muslim  Don't know/refused     22
175                 Orthodox  Don't know/refused     73
176          Other Christian  Don't know/refused     18
177             Other Faiths  Don't know/refused     71
178    Other World Religions  Don't know/refused      8
179             Unaffiliated  Don't know/refused    597

[180 rows x 3 columns]>

In [10]:
pew_long=pd.melt(pew, id_vars='religion', var_name='income', value_name='count')
print(pew_long.head)
print(pew_long.iloc[:,0:6])

<bound method NDFrame.head of                     religion              income  count
0                   Agnostic               <$10k     27
1                    Atheist               <$10k     12
2                   Buddhist               <$10k     27
3                   Catholic               <$10k    418
4         Don’t know/refused               <$10k     15
5           Evangelical Prot               <$10k    575
6                      Hindu               <$10k      1
7    Historically Black Prot               <$10k    228
8          Jehovah's Witness               <$10k     20
9                     Jewish               <$10k     19
10             Mainline Prot               <$10k    289
11                    Mormon               <$10k     29
12                    Muslim               <$10k      6
13                  Orthodox               <$10k     13
14           Other Christian               <$10k      9
15              Other Faiths               <$10k     20
16     Other World Religions               <$10k      5
17              Unaffiliated               <$10k    217
18                  Agnostic             $10-20k     34
19                   Atheist             $10-20k     27
20                  Buddhist             $10-20k     21
21                  Catholic             $10-20k    617
22        Don’t know/refused             $10-20k     14
23          Evangelical Prot             $10-20k    869
24                     Hindu             $10-20k      9
25   Historically Black Prot             $10-20k    244
26         Jehovah's Witness             $10-20k     27
27                    Jewish             $10-20k     19
28             Mainline Prot             $10-20k    495
29                    Mormon             $10-20k     40
..                       ...                 ...    ...
150                    Hindu               >150k     54
151  Historically Black Prot               >150k     78
152        Jehovah's Witness               >150k      6
153                   Jewish               >150k    151
154            Mainline Prot               >150k    634
155                   Mormon               >150k     42
156                   Muslim               >150k      6
157                 Orthodox               >150k     46
158          Other Christian               >150k     12
159             Other Faiths               >150k     41
160    Other World Religions               >150k      4
161             Unaffiliated               >150k    258
162                 Agnostic  Don't know/refused     96
163                  Atheist  Don't know/refused     76
164                 Buddhist  Don't know/refused     54
165                 Catholic  Don't know/refused   1489
166       Don’t know/refused  Don't know/refused    116
167         Evangelical Prot  Don't know/refused   1529
168                    Hindu  Don't know/refused     37
169  Historically Black Prot  Don't know/refused    339
170        Jehovah's Witness  Don't know/refused     37
171                   Jewish  Don't know/refused    162
172            Mainline Prot  Don't know/refused   1328
173                   Mormon  Don't know/refused     69
174                   Muslim  Don't know/refused     22
175                 Orthodox  Don't know/refused     73
176          Other Christian  Don't know/refused     18
177             Other Faiths  Don't know/refused     71
178    Other World Religions  Don't know/refused      8
179             Unaffiliated  Don't know/refused    597

[180 rows x 3 columns]>
                    religion              income  count
0                   Agnostic               <$10k     27
1                    Atheist               <$10k     12
2                   Buddhist               <$10k     27
3                   Catholic               <$10k    418
4         Don’t know/refused               <$10k     15
5           Evangelical Prot               <$10k    575
6                      Hindu               <$10k      1
7    Historically Black Prot               <$10k    228
8          Jehovah's Witness               <$10k     20
9                     Jewish               <$10k     19
10             Mainline Prot               <$10k    289
11                    Mormon               <$10k     29
12                    Muslim               <$10k      6
13                  Orthodox               <$10k     13
14           Other Christian               <$10k      9
15              Other Faiths               <$10k     20
16     Other World Religions               <$10k      5
17              Unaffiliated               <$10k    217
18                  Agnostic             $10-20k     34
19                   Atheist             $10-20k     27
20                  Buddhist             $10-20k     21
21                  Catholic             $10-20k    617
22        Don’t know/refused             $10-20k     14
23          Evangelical Prot             $10-20k    869
24                     Hindu             $10-20k      9
25   Historically Black Prot             $10-20k    244
26         Jehovah's Witness             $10-20k     27
27                    Jewish             $10-20k     19
28             Mainline Prot             $10-20k    495
29                    Mormon             $10-20k     40
..                       ...                 ...    ...
150                    Hindu               >150k     54
151  Historically Black Prot               >150k     78
152        Jehovah's Witness               >150k      6
153                   Jewish               >150k    151
154            Mainline Prot               >150k    634
155                   Mormon               >150k     42
156                   Muslim               >150k      6
157                 Orthodox               >150k     46
158          Other Christian               >150k     12
159             Other Faiths               >150k     41
160    Other World Religions               >150k      4
161             Unaffiliated               >150k    258
162                 Agnostic  Don't know/refused     96
163                  Atheist  Don't know/refused     76
164                 Buddhist  Don't know/refused     54
165                 Catholic  Don't know/refused   1489
166       Don’t know/refused  Don't know/refused    116
167         Evangelical Prot  Don't know/refused   1529
168                    Hindu  Don't know/refused     37
169  Historically Black Prot  Don't know/refused    339
170        Jehovah's Witness  Don't know/refused     37
171                   Jewish  Don't know/refused    162
172            Mainline Prot  Don't know/refused   1328
173                   Mormon  Don't know/refused     69
174                   Muslim  Don't know/refused     22
175                 Orthodox  Don't know/refused     73
176          Other Christian  Don't know/refused     18
177             Other Faiths  Don't know/refused     71
178    Other World Religions  Don't know/refused      8
179             Unaffiliated  Don't know/refused    597

[180 rows x 3 columns]

In [17]:
billboard=pd.read_csv("../data/billboard.csv")
print(billboard)

     year                artist                    track  time date.entered  \
0    2000                 2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26
1    2000               2Ge+her  The Hardest Part Of ...  3:15   2000-09-02
2    2000          3 Doors Down               Kryptonite  3:53   2000-04-08
3    2000          3 Doors Down                    Loser  4:24   2000-10-21
4    2000              504 Boyz            Wobble Wobble  3:35   2000-04-15
5    2000                  98^0  Give Me Just One Nig...  3:24   2000-08-19
6    2000               A*Teens            Dancing Queen  3:44   2000-07-08
7    2000               Aaliyah            I Don't Wanna  4:15   2000-01-29
8    2000               Aaliyah                Try Again  4:03   2000-03-18
9    2000        Adams, Yolanda            Open My Heart  5:30   2000-08-26
10   2000         Adkins, Trace                     More  3:05   2000-04-29
11   2000   Aguilera, Christina  Come On Over Baby (A...  3:38   2000-08-05
12   2000   Aguilera, Christina            I Turn To You  4:00   2000-04-15
13   2000   Aguilera, Christina        What A Girl Wants  3:18   1999-11-27
14   2000          Alice Deejay         Better Off Alone  6:50   2000-04-08
15   2000           Allan, Gary  Smoke Rings In The D...  4:18   2000-01-22
16   2000                 Amber                   Sexual  4:38   1999-07-17
17   2000             Anastacia           I'm Outta Love  4:01   2000-04-01
18   2000         Anthony, Marc              My Baby You  3:59   2000-09-16
19   2000         Anthony, Marc           You Sang To Me  3:50   2000-02-26
20   2000                 Avant            My First Love  4:28   2000-11-04
21   2000                 Avant                Separated  4:13   2000-04-29
22   2000                 BBMak                Back Here  3:35   2000-04-29
23   2000  Backstreet Boys, The        Shape Of My Heart  3:49   2000-10-14
24   2000  Backstreet Boys, The  Show Me The Meaning ...  3:54   2000-01-01
25   2000  Backstreet Boys, The                  The One  3:46   2000-05-27
26   2000          Badu, Erkyah                 Bag Lady  5:03   2000-08-19
27   2000              Baha Men     Who Let The Dogs Out  3:17   2000-07-22
28   2000      Barenaked Ladies                 Pinch Me  3:46   2000-09-09
29   2000            Beenie Man          Girls Dem Sugar  4:17   2000-10-21
..    ...                   ...                      ...   ...          ...
287  2000          Thomas, Carl                Emotional  4:31   2000-11-25
288  2000          Thomas, Carl                   I Wish  3:50   2000-03-25
289  2000          Thomas, Carl              Summer Rain  4:57   2000-09-23
290  2000         Tippin, Aaron                Kiss This  2:53   2000-08-26
291  2000                 Train            Meet Virginia  3:55   1999-10-09
292  2000           Trick Daddy                  Shut Up  4:17   2000-05-20
293  2000                 Trina                Pull Over  2:58   2000-09-09
294  2000         Tritt, Travis       Best Of Intentions  4:15   2000-08-19
295  2000               Tuesday                   I Know  4:06   2000-12-30
296  2000          Urban, Keith          Your Everything  4:10   2000-07-15
297  2000                 Usher            Pop Ya Collar  3:36   2000-11-04
298  2000          Vassar, Phil                  Carlene  4:07   2000-03-04
299  2000          Vassar, Phil  Just Another Day In ...  3:54   2000-09-30
300  2000      Vertical Horizon      Everything You Want  4:01   2000-01-22
301  2000      Vertical Horizon             You're A God  3:45   2000-08-26
302  2000             Vitamin C  Graduation (Friends ...  4:23   2000-04-15
303  2000             Vitamin C                 The Itch  3:30   2000-12-02
304  2000          Walker, Clay        Live, Laugh, Love  4:06   1999-12-04
305  2000          Walker, Clay        The Chain Of Love  5:03   2000-04-15
306  2000      Wallflowers, The              Sleepwalker  3:29   2000-10-28
307  2000              Westlife           Swear It Again  4:07   2000-04-01
308  2000      Williams, Robbie                   Angels  3:56   1999-11-20
309  2000           Wills, Mark              Back At One  4:00   2000-01-15
310  2000        Worley, Darryl  When You Need My Lov...  3:35   2000-06-17
311  2000         Wright, Chely                   It Was  3:51   2000-03-04
312  2000           Yankee Grey     Another Nine Minutes  3:10   2000-04-29
313  2000      Yearwood, Trisha          Real Live Woman  3:55   2000-04-01
314  2000       Ying Yang Twins  Whistle While You Tw...  4:19   2000-03-18
315  2000         Zombie Nation            Kernkraft 400  3:30   2000-09-02
316  2000       matchbox twenty                     Bent  4:12   2000-04-29

     wk1   wk2   wk3    wk4    wk5  ...   wk67  wk68  wk69  wk70  wk71  wk72  \
0     87  82.0  72.0   77.0   87.0  ...    NaN   NaN   NaN   NaN   NaN   NaN
1     91  87.0  92.0    NaN    NaN  ...    NaN   NaN   NaN   NaN   NaN   NaN
2     81  70.0  68.0   67.0   66.0  ...    NaN   NaN   NaN   NaN   NaN   NaN
3     76  76.0  72.0   69.0   67.0  ...    NaN   NaN   NaN   NaN   NaN   NaN
4     57  34.0  25.0   17.0   17.0  ...    NaN   NaN   NaN   NaN   NaN   NaN
5     51  39.0  34.0   26.0   26.0  ...    NaN   NaN   NaN   NaN   NaN   NaN
6     97  97.0  96.0   95.0  100.0  ...    NaN   NaN   NaN   NaN   NaN   NaN
7     84  62.0  51.0   41.0   38.0  ...    NaN   NaN   NaN   NaN   NaN   NaN
8     59  53.0  38.0   28.0   21.0  ...    NaN   NaN   NaN   NaN   NaN   NaN
9     76  76.0  74.0   69.0   68.0  ...    NaN   NaN   NaN   NaN   NaN   NaN
10    84  84.0  75.0   73.0   73.0  ...    NaN   NaN   NaN   NaN   NaN   NaN
11    57  47.0  45.0   29.0   23.0  ...    NaN   NaN   NaN   NaN   NaN   NaN
12    50  39.0  30.0   28.0   21.0  ...    NaN   NaN   NaN   NaN   NaN   NaN
13    71  51.0  28.0   18.0   13.0  ...    NaN   NaN   NaN   NaN   NaN   NaN
14    79  65.0  53.0   48.0   45.0  ...    NaN   NaN   NaN   NaN   NaN   NaN
15    80  78.0  76.0   77.0   92.0  ...    NaN   NaN   NaN   NaN   NaN   NaN
16    99  99.0  96.0   96.0  100.0  ...    NaN   NaN   NaN   NaN   NaN   NaN
17    92   NaN   NaN   95.0    NaN  ...    NaN   NaN   NaN   NaN   NaN   NaN
18    82  76.0  76.0   70.0   82.0  ...    NaN   NaN   NaN   NaN   NaN   NaN
19    77  54.0  50.0   43.0   30.0  ...    NaN   NaN   NaN   NaN   NaN   NaN
20    70  62.0  56.0   43.0   39.0  ...    NaN   NaN   NaN   NaN   NaN   NaN
21    62  32.0  30.0   23.0   26.0  ...    NaN   NaN   NaN   NaN   NaN   NaN
22    99  86.0  60.0   52.0   38.0  ...    NaN   NaN   NaN   NaN   NaN   NaN
23    39  25.0  24.0   15.0   12.0  ...    NaN   NaN   NaN   NaN   NaN   NaN
24    74  62.0  55.0   25.0   16.0  ...    NaN   NaN   NaN   NaN   NaN   NaN
25    58  50.0  43.0   37.0   31.0  ...    NaN   NaN   NaN   NaN   NaN   NaN
26    67  53.0  42.0   41.0   48.0  ...    NaN   NaN   NaN   NaN   NaN   NaN
27    99  92.0  85.0   76.0   65.0  ...    NaN   NaN   NaN   NaN   NaN   NaN
28    77  76.0  69.0   45.0   51.0  ...    NaN   NaN   NaN   NaN   NaN   NaN
29    72  72.0  63.0   56.0   62.0  ...    NaN   NaN   NaN   NaN   NaN   NaN
..   ...   ...   ...    ...    ...  ...    ...   ...   ...   ...   ...   ...
287   77  63.0  61.0   58.0   54.0  ...    NaN   NaN   NaN   NaN   NaN   NaN
288   75  64.0  48.0   39.0   32.0  ...    NaN   NaN   NaN   NaN   NaN   NaN
289   82  82.0  86.0   80.0   82.0  ...    NaN   NaN   NaN   NaN   NaN   NaN
290   74  72.0  66.0   53.0   52.0  ...    NaN   NaN   NaN   NaN   NaN   NaN
291   76  67.0  59.0   54.0   48.0  ...    NaN   NaN   NaN   NaN   NaN   NaN
292   99  95.0  87.0   87.0   83.0  ...    NaN   NaN   NaN   NaN   NaN   NaN
293   97  93.0  96.0  100.0    NaN  ...    NaN   NaN   NaN   NaN   NaN   NaN
294   97  86.0  79.0   70.0   63.0  ...    NaN   NaN   NaN   NaN   NaN   NaN
295   98  98.0   NaN    NaN    NaN  ...    NaN   NaN   NaN   NaN   NaN   NaN
296   81  80.0  73.0   73.0   67.0  ...    NaN   NaN   NaN   NaN   NaN   NaN
297   68  64.0  60.0   60.0   62.0  ...    NaN   NaN   NaN   NaN   NaN   NaN
298   75  67.0  64.0   64.0   57.0  ...    NaN   NaN   NaN   NaN   NaN   NaN
299   81  81.0  76.0   67.0   53.0  ...    NaN   NaN   NaN   NaN   NaN   NaN
300   70  61.0  53.0   46.0   40.0  ...    NaN   NaN   NaN   NaN   NaN   NaN
301   64  55.0  43.0   41.0   37.0  ...    NaN   NaN   NaN   NaN   NaN   NaN
302   81  64.0  54.0   54.0   46.0  ...    NaN   NaN   NaN   NaN   NaN   NaN
303   86  48.0  45.0   52.0   57.0  ...    NaN   NaN   NaN   NaN   NaN   NaN
304   95  95.0  94.0   94.0   94.0  ...    NaN   NaN   NaN   NaN   NaN   NaN
305   73  65.0  57.0   57.0   51.0  ...    NaN   NaN   NaN   NaN   NaN   NaN
306   73  73.0  74.0   80.0   90.0  ...    NaN   NaN   NaN   NaN   NaN   NaN
307   96  82.0  66.0   55.0   55.0  ...    NaN   NaN   NaN   NaN   NaN   NaN
308   85  77.0  69.0   69.0   62.0  ...    NaN   NaN   NaN   NaN   NaN   NaN
309   89  55.0  51.0   43.0   37.0  ...    NaN   NaN   NaN   NaN   NaN   NaN
310   98  88.0  93.0   92.0   85.0  ...    NaN   NaN   NaN   NaN   NaN   NaN
311   86  78.0  75.0   72.0   71.0  ...    NaN   NaN   NaN   NaN   NaN   NaN
312   86  83.0  77.0   74.0   83.0  ...    NaN   NaN   NaN   NaN   NaN   NaN
313   85  83.0  83.0   82.0   81.0  ...    NaN   NaN   NaN   NaN   NaN   NaN
314   95  94.0  91.0   85.0   84.0  ...    NaN   NaN   NaN   NaN   NaN   NaN
315   99  99.0   NaN    NaN    NaN  ...    NaN   NaN   NaN   NaN   NaN   NaN
316   60  37.0  29.0   24.0   22.0  ...    NaN   NaN   NaN   NaN   NaN   NaN

     wk73  wk74  wk75  wk76
0     NaN   NaN   NaN   NaN
1     NaN   NaN   NaN   NaN
2     NaN   NaN   NaN   NaN
3     NaN   NaN   NaN   NaN
4     NaN   NaN   NaN   NaN
5     NaN   NaN   NaN   NaN
6     NaN   NaN   NaN   NaN
7     NaN   NaN   NaN   NaN
8     NaN   NaN   NaN   NaN
9     NaN   NaN   NaN   NaN
10    NaN   NaN   NaN   NaN
11    NaN   NaN   NaN   NaN
12    NaN   NaN   NaN   NaN
13    NaN   NaN   NaN   NaN
14    NaN   NaN   NaN   NaN
15    NaN   NaN   NaN   NaN
16    NaN   NaN   NaN   NaN
17    NaN   NaN   NaN   NaN
18    NaN   NaN   NaN   NaN
19    NaN   NaN   NaN   NaN
20    NaN   NaN   NaN   NaN
21    NaN   NaN   NaN   NaN
22    NaN   NaN   NaN   NaN
23    NaN   NaN   NaN   NaN
24    NaN   NaN   NaN   NaN
25    NaN   NaN   NaN   NaN
26    NaN   NaN   NaN   NaN
27    NaN   NaN   NaN   NaN
28    NaN   NaN   NaN   NaN
29    NaN   NaN   NaN   NaN
..    ...   ...   ...   ...
287   NaN   NaN   NaN   NaN
288   NaN   NaN   NaN   NaN
289   NaN   NaN   NaN   NaN
290   NaN   NaN   NaN   NaN
291   NaN   NaN   NaN   NaN
292   NaN   NaN   NaN   NaN
293   NaN   NaN   NaN   NaN
294   NaN   NaN   NaN   NaN
295   NaN   NaN   NaN   NaN
296   NaN   NaN   NaN   NaN
297   NaN   NaN   NaN   NaN
298   NaN   NaN   NaN   NaN
299   NaN   NaN   NaN   NaN
300   NaN   NaN   NaN   NaN
301   NaN   NaN   NaN   NaN
302   NaN   NaN   NaN   NaN
303   NaN   NaN   NaN   NaN
304   NaN   NaN   NaN   NaN
305   NaN   NaN   NaN   NaN
306   NaN   NaN   NaN   NaN
307   NaN   NaN   NaN   NaN
308   NaN   NaN   NaN   NaN
309   NaN   NaN   NaN   NaN
310   NaN   NaN   NaN   NaN
311   NaN   NaN   NaN   NaN
312   NaN   NaN   NaN   NaN
313   NaN   NaN   NaN   NaN
314   NaN   NaN   NaN   NaN
315   NaN   NaN   NaN   NaN
316   NaN   NaN   NaN   NaN

[317 rows x 81 columns]

In [23]:
import numpy as np
np.shape(billboard)

(317, 81)

In [27]:
a=pd.melt(billboard,id_vars=['year','artist','track','time','date.entered'], 
          var_name='week',value_name='rating')
print(a)

       year                artist                    track  time date.entered  \
0      2000                 2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26
1      2000               2Ge+her  The Hardest Part Of ...  3:15   2000-09-02
2      2000          3 Doors Down               Kryptonite  3:53   2000-04-08
3      2000          3 Doors Down                    Loser  4:24   2000-10-21
4      2000              504 Boyz            Wobble Wobble  3:35   2000-04-15
5      2000                  98^0  Give Me Just One Nig...  3:24   2000-08-19
6      2000               A*Teens            Dancing Queen  3:44   2000-07-08
7      2000               Aaliyah            I Don't Wanna  4:15   2000-01-29
8      2000               Aaliyah                Try Again  4:03   2000-03-18
9      2000        Adams, Yolanda            Open My Heart  5:30   2000-08-26
10     2000         Adkins, Trace                     More  3:05   2000-04-29
11     2000   Aguilera, Christina  Come On Over Baby (A...  3:38   2000-08-05
12     2000   Aguilera, Christina            I Turn To You  4:00   2000-04-15
13     2000   Aguilera, Christina        What A Girl Wants  3:18   1999-11-27
14     2000          Alice Deejay         Better Off Alone  6:50   2000-04-08
15     2000           Allan, Gary  Smoke Rings In The D...  4:18   2000-01-22
16     2000                 Amber                   Sexual  4:38   1999-07-17
17     2000             Anastacia           I'm Outta Love  4:01   2000-04-01
18     2000         Anthony, Marc              My Baby You  3:59   2000-09-16
19     2000         Anthony, Marc           You Sang To Me  3:50   2000-02-26
20     2000                 Avant            My First Love  4:28   2000-11-04
21     2000                 Avant                Separated  4:13   2000-04-29
22     2000                 BBMak                Back Here  3:35   2000-04-29
23     2000  Backstreet Boys, The        Shape Of My Heart  3:49   2000-10-14
24     2000  Backstreet Boys, The  Show Me The Meaning ...  3:54   2000-01-01
25     2000  Backstreet Boys, The                  The One  3:46   2000-05-27
26     2000          Badu, Erkyah                 Bag Lady  5:03   2000-08-19
27     2000              Baha Men     Who Let The Dogs Out  3:17   2000-07-22
28     2000      Barenaked Ladies                 Pinch Me  3:46   2000-09-09
29     2000            Beenie Man          Girls Dem Sugar  4:17   2000-10-21
...     ...                   ...                      ...   ...          ...
24062  2000          Thomas, Carl                Emotional  4:31   2000-11-25
24063  2000          Thomas, Carl                   I Wish  3:50   2000-03-25
24064  2000          Thomas, Carl              Summer Rain  4:57   2000-09-23
24065  2000         Tippin, Aaron                Kiss This  2:53   2000-08-26
24066  2000                 Train            Meet Virginia  3:55   1999-10-09
24067  2000           Trick Daddy                  Shut Up  4:17   2000-05-20
24068  2000                 Trina                Pull Over  2:58   2000-09-09
24069  2000         Tritt, Travis       Best Of Intentions  4:15   2000-08-19
24070  2000               Tuesday                   I Know  4:06   2000-12-30
24071  2000          Urban, Keith          Your Everything  4:10   2000-07-15
24072  2000                 Usher            Pop Ya Collar  3:36   2000-11-04
24073  2000          Vassar, Phil                  Carlene  4:07   2000-03-04
24074  2000          Vassar, Phil  Just Another Day In ...  3:54   2000-09-30
24075  2000      Vertical Horizon      Everything You Want  4:01   2000-01-22
24076  2000      Vertical Horizon             You're A God  3:45   2000-08-26
24077  2000             Vitamin C  Graduation (Friends ...  4:23   2000-04-15
24078  2000             Vitamin C                 The Itch  3:30   2000-12-02
24079  2000          Walker, Clay        Live, Laugh, Love  4:06   1999-12-04
24080  2000          Walker, Clay        The Chain Of Love  5:03   2000-04-15
24081  2000      Wallflowers, The              Sleepwalker  3:29   2000-10-28
24082  2000              Westlife           Swear It Again  4:07   2000-04-01
24083  2000      Williams, Robbie                   Angels  3:56   1999-11-20
24084  2000           Wills, Mark              Back At One  4:00   2000-01-15
24085  2000        Worley, Darryl  When You Need My Lov...  3:35   2000-06-17
24086  2000         Wright, Chely                   It Was  3:51   2000-03-04
24087  2000           Yankee Grey     Another Nine Minutes  3:10   2000-04-29
24088  2000      Yearwood, Trisha          Real Live Woman  3:55   2000-04-01
24089  2000       Ying Yang Twins  Whistle While You Tw...  4:19   2000-03-18
24090  2000         Zombie Nation            Kernkraft 400  3:30   2000-09-02
24091  2000       matchbox twenty                     Bent  4:12   2000-04-29

       week  rating
0       wk1    87.0
1       wk1    91.0
2       wk1    81.0
3       wk1    76.0
4       wk1    57.0
5       wk1    51.0
6       wk1    97.0
7       wk1    84.0
8       wk1    59.0
9       wk1    76.0
10      wk1    84.0
11      wk1    57.0
12      wk1    50.0
13      wk1    71.0
14      wk1    79.0
15      wk1    80.0
16      wk1    99.0
17      wk1    92.0
18      wk1    82.0
19      wk1    77.0
20      wk1    70.0
21      wk1    62.0
22      wk1    99.0
23      wk1    39.0
24      wk1    74.0
25      wk1    58.0
26      wk1    67.0
27      wk1    99.0
28      wk1    77.0
29      wk1    72.0
...     ...     ...
24062  wk76     NaN
24063  wk76     NaN
24064  wk76     NaN
24065  wk76     NaN
24066  wk76     NaN
24067  wk76     NaN
24068  wk76     NaN
24069  wk76     NaN
24070  wk76     NaN
24071  wk76     NaN
24072  wk76     NaN
24073  wk76     NaN
24074  wk76     NaN
24075  wk76     NaN
24076  wk76     NaN
24077  wk76     NaN
24078  wk76     NaN
24079  wk76     NaN
24080  wk76     NaN
24081  wk76     NaN
24082  wk76     NaN
24083  wk76     NaN
24084  wk76     NaN
24085  wk76     NaN
24086  wk76     NaN
24087  wk76     NaN
24088  wk76     NaN
24089  wk76     NaN
24090  wk76     NaN
24091  wk76     NaN

[24092 rows x 7 columns]

In [29]:
ebola=pd.read_csv("../data/country_timeseries.csv")
print(ebola.columns)

Index(['Date', 'Day', 'Cases_Guinea', 'Cases_Liberia', 'Cases_SierraLeone',
       'Cases_Nigeria', 'Cases_Senegal', 'Cases_UnitedStates', 'Cases_Spain',
       'Cases_Mali', 'Deaths_Guinea', 'Deaths_Liberia', 'Deaths_SierraLeone',
       'Deaths_Nigeria', 'Deaths_Senegal', 'Deaths_UnitedStates',
       'Deaths_Spain', 'Deaths_Mali'],
      dtype='object')

In [30]:
ebola_long=pd.melt(ebola, id_vars=['Date','Day'])
ebola_long

            Date  Day      variable   value
0       1/5/2015  289  Cases_Guinea  2776.0
1       1/4/2015  288  Cases_Guinea  2775.0
2       1/3/2015  287  Cases_Guinea  2769.0
3       1/2/2015  286  Cases_Guinea     NaN
4     12/31/2014  284  Cases_Guinea  2730.0
5     12/28/2014  281  Cases_Guinea  2706.0
6     12/27/2014  280  Cases_Guinea  2695.0
7     12/24/2014  277  Cases_Guinea  2630.0
8     12/21/2014  273  Cases_Guinea  2597.0
9     12/20/2014  272  Cases_Guinea  2571.0
10    12/18/2014  271  Cases_Guinea     NaN
11    12/14/2014  267  Cases_Guinea  2416.0
12     12/9/2014  262  Cases_Guinea     NaN
13     12/7/2014  260  Cases_Guinea  2292.0
14     12/3/2014  256  Cases_Guinea     NaN
15    11/30/2014  253  Cases_Guinea  2164.0
16    11/28/2014  251  Cases_Guinea     NaN
17    11/23/2014  246  Cases_Guinea  2134.0
18    11/22/2014  245  Cases_Guinea     NaN
19    11/18/2014  241  Cases_Guinea  2047.0
20    11/16/2014  239  Cases_Guinea  1971.0
21    11/15/2014  238  Cases_Guinea     NaN
22    11/11/2014  234  Cases_Guinea  1919.0
23    11/10/2014  233  Cases_Guinea     NaN
24     11/9/2014  232  Cases_Guinea  1878.0
25     11/8/2014  231  Cases_Guinea     NaN
26     11/4/2014  227  Cases_Guinea     NaN
27     11/3/2014  226  Cases_Guinea  1760.0
28     11/2/2014  225  Cases_Guinea  1731.0
29    10/31/2014  222  Cases_Guinea     NaN
...          ...  ...           ...     ...
1922   5/23/2014   62   Deaths_Mali     NaN
1923   5/12/2014   51   Deaths_Mali     NaN
1924   5/10/2014   49   Deaths_Mali     NaN
1925    5/7/2014   46   Deaths_Mali     NaN
1926    5/5/2014   44   Deaths_Mali     NaN
1927    5/3/2014   42   Deaths_Mali     NaN
1928    5/1/2014   40   Deaths_Mali     NaN
1929   4/26/2014   35   Deaths_Mali     NaN
1930   4/24/2014   33   Deaths_Mali     NaN
1931   4/23/2014   32   Deaths_Mali     NaN
1932   4/22/2014   31   Deaths_Mali     NaN
1933   4/21/2014   30   Deaths_Mali     NaN
1934   4/20/2014   29   Deaths_Mali     NaN
1935   4/17/2014   26   Deaths_Mali     NaN
1936   4/16/2014   25   Deaths_Mali     NaN
1937   4/15/2014   24   Deaths_Mali     NaN
1938   4/14/2014   23   Deaths_Mali     NaN
1939   4/11/2014   20   Deaths_Mali     NaN
1940    4/9/2014   18   Deaths_Mali     NaN
1941    4/7/2014   16   Deaths_Mali     NaN
1942    4/4/2014   13   Deaths_Mali     NaN
1943    4/1/2014   10   Deaths_Mali     NaN
1944   3/31/2014    9   Deaths_Mali     NaN
1945   3/29/2014    7   Deaths_Mali     NaN
1946   3/28/2014    6   Deaths_Mali     NaN
1947   3/27/2014    5   Deaths_Mali     NaN
1948   3/26/2014    4   Deaths_Mali     NaN
1949   3/25/2014    3   Deaths_Mali     NaN
1950   3/24/2014    2   Deaths_Mali     NaN
1951   3/22/2014    0   Deaths_Mali     NaN

[1952 rows x 4 columns]

In [37]:
variable_split=ebola_long.variable.str.split('_')
variable_split[0:4]

0    [Cases, Guinea]
1    [Cases, Guinea]
2    [Cases, Guinea]
3    [Cases, Guinea]
Name: variable, dtype: object

In [42]:
country_values=variable_split[0][1]

In [43]:
status_values=variable_split.str.get(0) #0번 인덱스 가져와라

In [45]:
ebola_long['status']=status_values
ebola_long['country']=country_values
ebola_long.head()

         Date  Day      variable   value status country
0    1/5/2015  289  Cases_Guinea  2776.0  Cases  Guinea
1    1/4/2015  288  Cases_Guinea  2775.0  Cases  Guinea
2    1/3/2015  287  Cases_Guinea  2769.0  Cases  Guinea
3    1/2/2015  286  Cases_Guinea     NaN  Cases  Guinea
4  12/31/2014  284  Cases_Guinea  2730.0  Cases  Guinea

In [47]:
weather=pd.read_csv("../data/weather.csv")
print(weather.iloc[:5,:])

        id  year  month element  d1    d2    d3  d4    d5  d6 ...   d22   d23  \
0  MX17004  2010      1    tmax NaN   NaN   NaN NaN   NaN NaN ...   NaN   NaN
1  MX17004  2010      1    tmin NaN   NaN   NaN NaN   NaN NaN ...   NaN   NaN
2  MX17004  2010      2    tmax NaN  27.3  24.1 NaN   NaN NaN ...   NaN  29.9
3  MX17004  2010      2    tmin NaN  14.4  14.4 NaN   NaN NaN ...   NaN  10.7
4  MX17004  2010      3    tmax NaN   NaN   NaN NaN  32.1 NaN ...   NaN   NaN

   d24  d25  d26  d27  d28  d29   d30  d31
0  NaN  NaN  NaN  NaN  NaN  NaN  27.8  NaN
1  NaN  NaN  NaN  NaN  NaN  NaN  14.5  NaN
2  NaN  NaN  NaN  NaN  NaN  NaN   NaN  NaN
3  NaN  NaN  NaN  NaN  NaN  NaN   NaN  NaN
4  NaN  NaN  NaN  NaN  NaN  NaN   NaN  NaN

[5 rows x 35 columns]

In [52]:
weather_melt=pd.melt(weather, id_vars=['id',  'year',  'month', 'element'],
                    var_name='day',value_name='temp')

In [51]:
weather_melt

          id  year  month element variable  value
0    MX17004  2010      1    tmax       d1    NaN
1    MX17004  2010      1    tmin       d1    NaN
2    MX17004  2010      2    tmax       d1    NaN
3    MX17004  2010      2    tmin       d1    NaN
4    MX17004  2010      3    tmax       d1    NaN
5    MX17004  2010      3    tmin       d1    NaN
6    MX17004  2010      4    tmax       d1    NaN
7    MX17004  2010      4    tmin       d1    NaN
8    MX17004  2010      5    tmax       d1    NaN
9    MX17004  2010      5    tmin       d1    NaN
10   MX17004  2010      6    tmax       d1    NaN
11   MX17004  2010      6    tmin       d1    NaN
12   MX17004  2010      7    tmax       d1    NaN
13   MX17004  2010      7    tmin       d1    NaN
14   MX17004  2010      8    tmax       d1    NaN
15   MX17004  2010      8    tmin       d1    NaN
16   MX17004  2010     10    tmax       d1    NaN
17   MX17004  2010     10    tmin       d1    NaN
18   MX17004  2010     11    tmax       d1    NaN
19   MX17004  2010     11    tmin       d1    NaN
20   MX17004  2010     12    tmax       d1   29.9
21   MX17004  2010     12    tmin       d1   13.8
22   MX17004  2010      1    tmax       d2    NaN
23   MX17004  2010      1    tmin       d2    NaN
24   MX17004  2010      2    tmax       d2   27.3
25   MX17004  2010      2    tmin       d2   14.4
26   MX17004  2010      3    tmax       d2    NaN
27   MX17004  2010      3    tmin       d2    NaN
28   MX17004  2010      4    tmax       d2    NaN
29   MX17004  2010      4    tmin       d2    NaN
..       ...   ...    ...     ...      ...    ...
652  MX17004  2010      8    tmax      d30    NaN
653  MX17004  2010      8    tmin      d30    NaN
654  MX17004  2010     10    tmax      d30    NaN
655  MX17004  2010     10    tmin      d30    NaN
656  MX17004  2010     11    tmax      d30    NaN
657  MX17004  2010     11    tmin      d30    NaN
658  MX17004  2010     12    tmax      d30    NaN
659  MX17004  2010     12    tmin      d30    NaN
660  MX17004  2010      1    tmax      d31    NaN
661  MX17004  2010      1    tmin      d31    NaN
662  MX17004  2010      2    tmax      d31    NaN
663  MX17004  2010      2    tmin      d31    NaN
664  MX17004  2010      3    tmax      d31    NaN
665  MX17004  2010      3    tmin      d31    NaN
666  MX17004  2010      4    tmax      d31    NaN
667  MX17004  2010      4    tmin      d31    NaN
668  MX17004  2010      5    tmax      d31    NaN
669  MX17004  2010      5    tmin      d31    NaN
670  MX17004  2010      6    tmax      d31    NaN
671  MX17004  2010      6    tmin      d31    NaN
672  MX17004  2010      7    tmax      d31    NaN
673  MX17004  2010      7    tmin      d31    NaN
674  MX17004  2010      8    tmax      d31   25.4
675  MX17004  2010      8    tmin      d31   15.4
676  MX17004  2010     10    tmax      d31    NaN
677  MX17004  2010     10    tmin      d31    NaN
678  MX17004  2010     11    tmax      d31    NaN
679  MX17004  2010     11    tmin      d31    NaN
680  MX17004  2010     12    tmax      d31    NaN
681  MX17004  2010     12    tmin      d31    NaN

[682 rows x 6 columns]

In [53]:
weather_melt

          id  year  month element  day  temp
0    MX17004  2010      1    tmax   d1   NaN
1    MX17004  2010      1    tmin   d1   NaN
2    MX17004  2010      2    tmax   d1   NaN
3    MX17004  2010      2    tmin   d1   NaN
4    MX17004  2010      3    tmax   d1   NaN
5    MX17004  2010      3    tmin   d1   NaN
6    MX17004  2010      4    tmax   d1   NaN
7    MX17004  2010      4    tmin   d1   NaN
8    MX17004  2010      5    tmax   d1   NaN
9    MX17004  2010      5    tmin   d1   NaN
10   MX17004  2010      6    tmax   d1   NaN
11   MX17004  2010      6    tmin   d1   NaN
12   MX17004  2010      7    tmax   d1   NaN
13   MX17004  2010      7    tmin   d1   NaN
14   MX17004  2010      8    tmax   d1   NaN
15   MX17004  2010      8    tmin   d1   NaN
16   MX17004  2010     10    tmax   d1   NaN
17   MX17004  2010     10    tmin   d1   NaN
18   MX17004  2010     11    tmax   d1   NaN
19   MX17004  2010     11    tmin   d1   NaN
20   MX17004  2010     12    tmax   d1  29.9
21   MX17004  2010     12    tmin   d1  13.8
22   MX17004  2010      1    tmax   d2   NaN
23   MX17004  2010      1    tmin   d2   NaN
24   MX17004  2010      2    tmax   d2  27.3
25   MX17004  2010      2    tmin   d2  14.4
26   MX17004  2010      3    tmax   d2   NaN
27   MX17004  2010      3    tmin   d2   NaN
28   MX17004  2010      4    tmax   d2   NaN
29   MX17004  2010      4    tmin   d2   NaN
..       ...   ...    ...     ...  ...   ...
652  MX17004  2010      8    tmax  d30   NaN
653  MX17004  2010      8    tmin  d30   NaN
654  MX17004  2010     10    tmax  d30   NaN
655  MX17004  2010     10    tmin  d30   NaN
656  MX17004  2010     11    tmax  d30   NaN
657  MX17004  2010     11    tmin  d30   NaN
658  MX17004  2010     12    tmax  d30   NaN
659  MX17004  2010     12    tmin  d30   NaN
660  MX17004  2010      1    tmax  d31   NaN
661  MX17004  2010      1    tmin  d31   NaN
662  MX17004  2010      2    tmax  d31   NaN
663  MX17004  2010      2    tmin  d31   NaN
664  MX17004  2010      3    tmax  d31   NaN
665  MX17004  2010      3    tmin  d31   NaN
666  MX17004  2010      4    tmax  d31   NaN
667  MX17004  2010      4    tmin  d31   NaN
668  MX17004  2010      5    tmax  d31   NaN
669  MX17004  2010      5    tmin  d31   NaN
670  MX17004  2010      6    tmax  d31   NaN
671  MX17004  2010      6    tmin  d31   NaN
672  MX17004  2010      7    tmax  d31   NaN
673  MX17004  2010      7    tmin  d31   NaN
674  MX17004  2010      8    tmax  d31  25.4
675  MX17004  2010      8    tmin  d31  15.4
676  MX17004  2010     10    tmax  d31   NaN
677  MX17004  2010     10    tmin  d31   NaN
678  MX17004  2010     11    tmax  d31   NaN
679  MX17004  2010     11    tmin  d31   NaN
680  MX17004  2010     12    tmax  d31   NaN
681  MX17004  2010     12    tmin  d31   NaN

[682 rows x 6 columns]

In [58]:
weather_melt2=weather_melt.pivot_table(index=['id',  'year',  'month', 'day'],
                         columns='element',values='temp')

In [60]:
weather_melt2

element                 tmax  tmin
id      year month day
MX17004 2010 1     d1    NaN   NaN
                   d10   NaN   NaN
                   d11   NaN   NaN
                   d12   NaN   NaN
                   d13   NaN   NaN
                   d14   NaN   NaN
                   d15   NaN   NaN
                   d16   NaN   NaN
                   d17   NaN   NaN
                   d18   NaN   NaN
                   d19   NaN   NaN
                   d2    NaN   NaN
                   d20   NaN   NaN
                   d21   NaN   NaN
                   d22   NaN   NaN
                   d23   NaN   NaN
                   d24   NaN   NaN
                   d25   NaN   NaN
                   d26   NaN   NaN
                   d27   NaN   NaN
                   d28   NaN   NaN
                   d29   NaN   NaN
                   d3    NaN   NaN
                   d30  27.8  14.5
                   d31   NaN   NaN
                   d4    NaN   NaN
                   d5    NaN   NaN
                   d6    NaN   NaN
                   d7    NaN   NaN
                   d8    NaN   NaN
...                      ...   ...
             12    d10   NaN   NaN
                   d11   NaN   NaN
                   d12   NaN   NaN
                   d13   NaN   NaN
                   d14   NaN   NaN
                   d15   NaN   NaN
                   d16   NaN   NaN
                   d17   NaN   NaN
                   d18   NaN   NaN
                   d19   NaN   NaN
                   d2    NaN   NaN
                   d20   NaN   NaN
                   d21   NaN   NaN
                   d22   NaN   NaN
                   d23   NaN   NaN
                   d24   NaN   NaN
                   d25   NaN   NaN
                   d26   NaN   NaN
                   d27   NaN   NaN
                   d28   NaN   NaN
                   d29   NaN   NaN
                   d3    NaN   NaN
                   d30   NaN   NaN
                   d31   NaN   NaN
                   d4    NaN   NaN
                   d5    NaN   NaN
                   d6   27.8  10.5
                   d7    NaN   NaN
                   d8    NaN   NaN
                   d9    NaN   NaN

[341 rows x 2 columns]

In [59]:
weather_melt2.reset_index()

element       id  year  month  day  tmax  tmin
0        MX17004  2010      1   d1   NaN   NaN
1        MX17004  2010      1  d10   NaN   NaN
2        MX17004  2010      1  d11   NaN   NaN
3        MX17004  2010      1  d12   NaN   NaN
4        MX17004  2010      1  d13   NaN   NaN
5        MX17004  2010      1  d14   NaN   NaN
6        MX17004  2010      1  d15   NaN   NaN
7        MX17004  2010      1  d16   NaN   NaN
8        MX17004  2010      1  d17   NaN   NaN
9        MX17004  2010      1  d18   NaN   NaN
10       MX17004  2010      1  d19   NaN   NaN
11       MX17004  2010      1   d2   NaN   NaN
12       MX17004  2010      1  d20   NaN   NaN
13       MX17004  2010      1  d21   NaN   NaN
14       MX17004  2010      1  d22   NaN   NaN
15       MX17004  2010      1  d23   NaN   NaN
16       MX17004  2010      1  d24   NaN   NaN
17       MX17004  2010      1  d25   NaN   NaN
18       MX17004  2010      1  d26   NaN   NaN
19       MX17004  2010      1  d27   NaN   NaN
20       MX17004  2010      1  d28   NaN   NaN
21       MX17004  2010      1  d29   NaN   NaN
22       MX17004  2010      1   d3   NaN   NaN
23       MX17004  2010      1  d30  27.8  14.5
24       MX17004  2010      1  d31   NaN   NaN
25       MX17004  2010      1   d4   NaN   NaN
26       MX17004  2010      1   d5   NaN   NaN
27       MX17004  2010      1   d6   NaN   NaN
28       MX17004  2010      1   d7   NaN   NaN
29       MX17004  2010      1   d8   NaN   NaN
..           ...   ...    ...  ...   ...   ...
311      MX17004  2010     12  d10   NaN   NaN
312      MX17004  2010     12  d11   NaN   NaN
313      MX17004  2010     12  d12   NaN   NaN
314      MX17004  2010     12  d13   NaN   NaN
315      MX17004  2010     12  d14   NaN   NaN
316      MX17004  2010     12  d15   NaN   NaN
317      MX17004  2010     12  d16   NaN   NaN
318      MX17004  2010     12  d17   NaN   NaN
319      MX17004  2010     12  d18   NaN   NaN
320      MX17004  2010     12  d19   NaN   NaN
321      MX17004  2010     12   d2   NaN   NaN
322      MX17004  2010     12  d20   NaN   NaN
323      MX17004  2010     12  d21   NaN   NaN
324      MX17004  2010     12  d22   NaN   NaN
325      MX17004  2010     12  d23   NaN   NaN
326      MX17004  2010     12  d24   NaN   NaN
327      MX17004  2010     12  d25   NaN   NaN
328      MX17004  2010     12  d26   NaN   NaN
329      MX17004  2010     12  d27   NaN   NaN
330      MX17004  2010     12  d28   NaN   NaN
331      MX17004  2010     12  d29   NaN   NaN
332      MX17004  2010     12   d3   NaN   NaN
333      MX17004  2010     12  d30   NaN   NaN
334      MX17004  2010     12  d31   NaN   NaN
335      MX17004  2010     12   d4   NaN   NaN
336      MX17004  2010     12   d5   NaN   NaN
337      MX17004  2010     12   d6  27.8  10.5
338      MX17004  2010     12   d7   NaN   NaN
339      MX17004  2010     12   d8   NaN   NaN
340      MX17004  2010     12   d9   NaN   NaN

[341 rows x 6 columns]

## 중복데이터 처리(중요한 데이터는 살려야)

In [83]:
billboard=pd.read_csv("../data/billboard.csv")
b=pd.melt(billboard, id_vars=['year','artist','track','time'],
       var_name='week',value_name='rating')

In [84]:
b

,year,artist,track,time,week,rating
0,2000,2 Pac,Baby Don't Cry (Keep...,4:22,date.entered,2000-02-26
1,2000,2Ge+her,The Hardest Part Of ...,3:15,date.entered,2000-09-02
2,2000,3 Doors Down,Kryptonite,3:53,date.entered,2000-04-08
3,2000,3 Doors Down,Loser,4:24,date.entered,2000-10-21
4,2000,504 Boyz,Wobble Wobble,3:35,date.entered,2000-04-15
5,2000,98^0,Give Me Just One Nig...,3:24,date.entered,2000-08-19
6,2000,A*Teens,Dancing Queen,3:44,date.entered,2000-07-08
7,2000,Aaliyah,I Don't Wanna,4:15,date.entered,2000-01-29
8,2000,Aaliyah,Try Again,4:03,date.entered,2000-03-18
9,2000,"Adams, Yolanda",Open My Heart,5:30,date.entered,2000-08-26
10,2000,"Adkins, Trace",More,3:05,date.entered,2000-04-29
11,2000,"Aguilera, Christina",Come On Over Baby (A...,3:38,date.entered,2000-08-05
12,2000,"Aguilera, Christina",I Turn To You,4:00,date.entered,2000-04-15
13,2000,"Aguilera, Christina",What A Girl Wants,3:18,date.entered,1999-11-27
14,2000,Alice Deejay,Better Off Alone,6:50,date.entered,2000-04-08
15,2000,"Allan, Gary",Smoke Rings In The D...,4:18,date.entered,2000-01-22
16,2000,Amber,Sexual,4:38,date.entered,1999-07-17
17,2000,Anastacia,I'm Outta Love,4:01,date.entered,2000-04-01
18,2000,"Anthony, Marc",My Baby You,3:59,date.entered,2000-09-16
19,2000,"Anthony, Marc",You Sang To Me,3:50,date.entered,2000-02-26
20,2000,Avant,My First Love,4:28,date.entered,2000-11-04
21,2000,Avant,Separated,4:13,date.entered,2000-04-29
22,2000,BBMak,Back Here,3:35,date.entered,2000-04-29
23,2000,"Backstreet Boys, The",Shape Of My Heart,3:49,date.entered,2000-10-14
24,2000,"Backstreet Boys, The",Show Me The Meaning ...,3:54,date.entered,2000-01-01
25,2000,"Backstreet Boys, The",The One,3:46,date.entered,2000-05-27
26,2000,"Badu, Erkyah",Bag Lady,5:03,date.entered,2000-08-19
27,2000,Baha Men,Who Let The Dogs Out,3:17,date.entered,2000-07-22
28,2000,Barenaked Ladies,Pinch Me,3:46,date.entered,2000-09-09
29,2000,Beenie Man,Girls Dem Sugar,4:17,date.entered,2000-10-21
...,...,...,...,...,...,...
24379,2000,"Thomas, Carl",Emotional,4:31,wk76,NaN
24380,2000,"Thomas, Carl",I Wish,3:50,wk76,NaN
24381,2000,"Thomas, Carl",Summer Rain,4:57,wk76,NaN
24382,2000,"Tippin, Aaron",Kiss This,2:53,wk76,NaN
24383,2000,Train,Meet Virginia,3:55,wk76,NaN
24384,2000,Trick Daddy,Shut Up,4:17,wk76,NaN
24385,2000,Trina,Pull Over,2:58,wk76,NaN
24386,2000,"Tritt, Travis",Best Of Intentions,4:15,wk76,NaN
24387,2000,Tuesday,I Know,4:06,wk76,NaN
24388,2000,"Urban, Keith",Your Everything,4:10,wk76,NaN
24389,2000,Usher,Pop Ya Collar,3:36,wk76,NaN
24390,2000,"Vassar, Phil",Carlene,4:07,wk76,NaN
24391,2000,"Vassar, Phil",Just Another Day In ...,3:54,wk76,NaN
24392,2000,Vertical Horizon,Everything You Want,4:01,wk76,NaN
24393,2000,Vertical Horizon,You're A God,3:45,wk76,NaN
24394,2000,Vitamin C,Graduation (Friends ...,4:23,wk76,NaN
24395,2000,Vitamin C,The Itch,3:30,wk76,NaN
24396,2000,"Walker, Clay","Live, Laugh, Love",4:06,wk76,NaN
24397,2000,"Walker, Clay",The Chain Of Love,5:03,wk76,NaN
24398,2000,"Wallflowers, The",Sleepwalker,3:29,wk76,NaN
24399,2000,Westlife,Swear It Again,4:07,wk76,NaN
24400,2000,"Williams, Robbie",Angels,3:56,wk76,NaN
24401,2000,"Wills, Mark",Back At One,4:00,wk76,NaN
24402,2000,"Worley, Darryl",When You Need My Lov...,3:35,wk76,NaN
24403,2000,"Wright, Chely",It Was,3:51,wk76,NaN
24404,2000,Yankee Grey,Another Nine Minutes,3:10,wk76,NaN
24405,2000,"Yearwood, Trisha",Real Live Woman,3:55,wk76,NaN
24406,2000,Ying Yang Twins,Whistle While You Tw...,4:19,wk76,NaN
24407,2000,Zombie Nation,Kernkraft 400,3:30,wk76,NaN
24408,2000,matchbox twenty,Bent,4:12,wk76,NaN

In [85]:
b.shape

(24409, 6)

In [67]:
b[b.track=='Loser'] #Loser와 중복데이터 찾기

       year        artist  track  time          week      rating
3      2000  3 Doors Down  Loser  4:24  date.entered  2000-10-21
320    2000  3 Doors Down  Loser  4:24           wk1          76
637    2000  3 Doors Down  Loser  4:24           wk2          76
954    2000  3 Doors Down  Loser  4:24           wk3          72
1271   2000  3 Doors Down  Loser  4:24           wk4          69
1588   2000  3 Doors Down  Loser  4:24           wk5          67
1905   2000  3 Doors Down  Loser  4:24           wk6          65
2222   2000  3 Doors Down  Loser  4:24           wk7          55
2539   2000  3 Doors Down  Loser  4:24           wk8          59
2856   2000  3 Doors Down  Loser  4:24           wk9          62
3173   2000  3 Doors Down  Loser  4:24          wk10          61
3490   2000  3 Doors Down  Loser  4:24          wk11          61
3807   2000  3 Doors Down  Loser  4:24          wk12          59
4124   2000  3 Doors Down  Loser  4:24          wk13          61
4441   2000  3 Doors Down  Loser  4:24          wk14          66
4758   2000  3 Doors Down  Loser  4:24          wk15          72
5075   2000  3 Doors Down  Loser  4:24          wk16          76
5392   2000  3 Doors Down  Loser  4:24          wk17          75
5709   2000  3 Doors Down  Loser  4:24          wk18          67
6026   2000  3 Doors Down  Loser  4:24          wk19          73
6343   2000  3 Doors Down  Loser  4:24          wk20          70
6660   2000  3 Doors Down  Loser  4:24          wk21         NaN
6977   2000  3 Doors Down  Loser  4:24          wk22         NaN
7294   2000  3 Doors Down  Loser  4:24          wk23         NaN
7611   2000  3 Doors Down  Loser  4:24          wk24         NaN
7928   2000  3 Doors Down  Loser  4:24          wk25         NaN
8245   2000  3 Doors Down  Loser  4:24          wk26         NaN
8562   2000  3 Doors Down  Loser  4:24          wk27         NaN
8879   2000  3 Doors Down  Loser  4:24          wk28         NaN
9196   2000  3 Doors Down  Loser  4:24          wk29         NaN
...     ...           ...    ...   ...           ...         ...
14902  2000  3 Doors Down  Loser  4:24          wk47         NaN
15219  2000  3 Doors Down  Loser  4:24          wk48         NaN
15536  2000  3 Doors Down  Loser  4:24          wk49         NaN
15853  2000  3 Doors Down  Loser  4:24          wk50         NaN
16170  2000  3 Doors Down  Loser  4:24          wk51         NaN
16487  2000  3 Doors Down  Loser  4:24          wk52         NaN
16804  2000  3 Doors Down  Loser  4:24          wk53         NaN
17121  2000  3 Doors Down  Loser  4:24          wk54         NaN
17438  2000  3 Doors Down  Loser  4:24          wk55         NaN
17755  2000  3 Doors Down  Loser  4:24          wk56         NaN
18072  2000  3 Doors Down  Loser  4:24          wk57         NaN
18389  2000  3 Doors Down  Loser  4:24          wk58         NaN
18706  2000  3 Doors Down  Loser  4:24          wk59         NaN
19023  2000  3 Doors Down  Loser  4:24          wk60         NaN
19340  2000  3 Doors Down  Loser  4:24          wk61         NaN
19657  2000  3 Doors Down  Loser  4:24          wk62         NaN
19974  2000  3 Doors Down  Loser  4:24          wk63         NaN
20291  2000  3 Doors Down  Loser  4:24          wk64         NaN
20608  2000  3 Doors Down  Loser  4:24          wk65         NaN
20925  2000  3 Doors Down  Loser  4:24          wk66         NaN
21242  2000  3 Doors Down  Loser  4:24          wk67         NaN
21559  2000  3 Doors Down  Loser  4:24          wk68         NaN
21876  2000  3 Doors Down  Loser  4:24          wk69         NaN
22193  2000  3 Doors Down  Loser  4:24          wk70         NaN
22510  2000  3 Doors Down  Loser  4:24          wk71         NaN
22827  2000  3 Doors Down  Loser  4:24          wk72         NaN
23144  2000  3 Doors Down  Loser  4:24          wk73         NaN
23461  2000  3 Doors Down  Loser  4:24          wk74         NaN
23778  2000  3 Doors Down  Loser  4:24          wk75         NaN
24095  2000  3 Doors Down  Loser  4:24          wk76         NaN

[77 rows x 6 columns]

In [72]:
bsong=b[['year','artist','track','time']]

In [73]:
bsong.head()

   year        artist                    track  time
0  2000         2 Pac  Baby Don't Cry (Keep...  4:22
1  2000       2Ge+her  The Hardest Part Of ...  3:15
2  2000  3 Doors Down               Kryptonite  3:53
3  2000  3 Doors Down                    Loser  4:24
4  2000      504 Boyz            Wobble Wobble  3:35

In [79]:
b.shape

(24409, 4)

In [75]:
bsong=bsong.drop_duplicates()
bsong

     year                artist                    track  time
0    2000                 2 Pac  Baby Don't Cry (Keep...  4:22
1    2000               2Ge+her  The Hardest Part Of ...  3:15
2    2000          3 Doors Down               Kryptonite  3:53
3    2000          3 Doors Down                    Loser  4:24
4    2000              504 Boyz            Wobble Wobble  3:35
5    2000                  98^0  Give Me Just One Nig...  3:24
6    2000               A*Teens            Dancing Queen  3:44
7    2000               Aaliyah            I Don't Wanna  4:15
8    2000               Aaliyah                Try Again  4:03
9    2000        Adams, Yolanda            Open My Heart  5:30
10   2000         Adkins, Trace                     More  3:05
11   2000   Aguilera, Christina  Come On Over Baby (A...  3:38
12   2000   Aguilera, Christina            I Turn To You  4:00
13   2000   Aguilera, Christina        What A Girl Wants  3:18
14   2000          Alice Deejay         Better Off Alone  6:50
15   2000           Allan, Gary  Smoke Rings In The D...  4:18
16   2000                 Amber                   Sexual  4:38
17   2000             Anastacia           I'm Outta Love  4:01
18   2000         Anthony, Marc              My Baby You  3:59
19   2000         Anthony, Marc           You Sang To Me  3:50
20   2000                 Avant            My First Love  4:28
21   2000                 Avant                Separated  4:13
22   2000                 BBMak                Back Here  3:35
23   2000  Backstreet Boys, The        Shape Of My Heart  3:49
24   2000  Backstreet Boys, The  Show Me The Meaning ...  3:54
25   2000  Backstreet Boys, The                  The One  3:46
26   2000          Badu, Erkyah                 Bag Lady  5:03
27   2000              Baha Men     Who Let The Dogs Out  3:17
28   2000      Barenaked Ladies                 Pinch Me  3:46
29   2000            Beenie Man          Girls Dem Sugar  4:17
..    ...                   ...                      ...   ...
287  2000          Thomas, Carl                Emotional  4:31
288  2000          Thomas, Carl                   I Wish  3:50
289  2000          Thomas, Carl              Summer Rain  4:57
290  2000         Tippin, Aaron                Kiss This  2:53
291  2000                 Train            Meet Virginia  3:55
292  2000           Trick Daddy                  Shut Up  4:17
293  2000                 Trina                Pull Over  2:58
294  2000         Tritt, Travis       Best Of Intentions  4:15
295  2000               Tuesday                   I Know  4:06
296  2000          Urban, Keith          Your Everything  4:10
297  2000                 Usher            Pop Ya Collar  3:36
298  2000          Vassar, Phil                  Carlene  4:07
299  2000          Vassar, Phil  Just Another Day In ...  3:54
300  2000      Vertical Horizon      Everything You Want  4:01
301  2000      Vertical Horizon             You're A God  3:45
302  2000             Vitamin C  Graduation (Friends ...  4:23
303  2000             Vitamin C                 The Itch  3:30
304  2000          Walker, Clay        Live, Laugh, Love  4:06
305  2000          Walker, Clay        The Chain Of Love  5:03
306  2000      Wallflowers, The              Sleepwalker  3:29
307  2000              Westlife           Swear It Again  4:07
308  2000      Williams, Robbie                   Angels  3:56
309  2000           Wills, Mark              Back At One  4:00
310  2000        Worley, Darryl  When You Need My Lov...  3:35
311  2000         Wright, Chely                   It Was  3:51
312  2000           Yankee Grey     Another Nine Minutes  3:10
313  2000      Yearwood, Trisha          Real Live Woman  3:55
314  2000       Ying Yang Twins  Whistle While You Tw...  4:19
315  2000         Zombie Nation            Kernkraft 400  3:30
316  2000       matchbox twenty                     Bent  4:12

[317 rows x 4 columns]

In [76]:
bsong['id']=range(len(bsong))
bsong.head(n=10)

   year          artist                    track  time  id
0  2000           2 Pac  Baby Don't Cry (Keep...  4:22   0
1  2000         2Ge+her  The Hardest Part Of ...  3:15   1
2  2000    3 Doors Down               Kryptonite  3:53   2
3  2000    3 Doors Down                    Loser  4:24   3
4  2000        504 Boyz            Wobble Wobble  3:35   4
5  2000            98^0  Give Me Just One Nig...  3:24   5
6  2000         A*Teens            Dancing Queen  3:44   6
7  2000         Aaliyah            I Don't Wanna  4:15   7
8  2000         Aaliyah                Try Again  4:03   8
9  2000  Adams, Yolanda            Open My Heart  5:30   9

In [86]:
brating=b.merge(bsong, on=['year','artist','track','time'])
brating.shape

(24409, 7)

In [87]:
brating.head()

   year artist                    track  time          week      rating  id
0  2000  2 Pac  Baby Don't Cry (Keep...  4:22  date.entered  2000-02-26   0
1  2000  2 Pac  Baby Don't Cry (Keep...  4:22           wk1          87   0
2  2000  2 Pac  Baby Don't Cry (Keep...  4:22           wk2          82   0
3  2000  2 Pac  Baby Don't Cry (Keep...  4:22           wk3          72   0
4  2000  2 Pac  Baby Don't Cry (Keep...  4:22           wk4          77   0

In [102]:
import os
import urllib.request
with open("../data/raw_data_urls.txt","r") as data_urls: 
    for line,url in enumerate(data_urls): #반복가능한 개체가 들어간다
#         print("line:",line)
#         print("url:",url)
            if line==5:
                break
            fn=url.split("/")[-1].strip()
            print(fn)
            fp=os.path.join('','../data',fn)
            print(fp)
            urllib.request.urlretrieve(url,fp) #url로 접근해서
# 다운로드 파일있는 경로 data_urls

../data\fhv_tripdata_2015-01.csv
../data\fhv_tripdata_2015-02.csv
../data\fhv_tripdata_2015-03.csv
../data\fhv_tripdata_2015-04.csv
../data\fhv_tripdata_2015-05.csv

In [103]:
import glob #특정 경로에 특정규칙있는 파일들 불러오기
nyc_taxi_data=glob.glob("../data/fhv_*")#fhv_~~의 모든 파일 불러와라
print(nyc_taxi_data)
taxi1=pd.read_csv(nyc_taxi_data[0])
taxi2=pd.read_csv(nyc_taxi_data[1])
taxi3=pd.read_csv(nyc_taxi_data[2])
taxi4=pd.read_csv(nyc_taxi_data[3])
taxi5=pd.read_csv(nyc_taxi_data[4])
print(taxi1.head(n=2))
print(taxi1.shape)

['../data\\fhv_tripdata_2015-01.csv', '../data\\fhv_tripdata_2015-02.csv', '../data\\fhv_tripdata_2015-03.csv', '../data\\fhv_tripdata_2015-04.csv', '../data\\fhv_tripdata_2015-05.csv']
  Dispatching_base_num          Pickup_date  locationID
0               B00013  2015-01-01 00:30:00         NaN
1               B00013  2015-01-01 01:22:00         NaN
(2746033, 3)

In [105]:
taxi=pd.concat([taxi1,taxi2,taxi3,taxi4,taxi5])
print(taxi.shape)

(17367717, 3)